/* Styles for the Login component */
.login-container {
  max-width: 300px;
  margin: 0 auto;

  margin-top: 4em;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.login-container button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}
