/* Styles for the Register component */
.register-container {
  max-width: 300px;
  margin: 0 auto;

  margin-top: 4em;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container form div {
  margin-bottom: 15px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="text"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.register-container button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #0056b3;
}
