.homepage_wrapper {
  display: flex;
  flex-direction: row;

  min-height: 100vh;
}

.homepage_wrapper .main {
  padding: 2em;
  width: 100vw;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* @media (min-width: 768px) {
  .homepage_wrapper .main {
    width: 50vw;
  }
} */

.homepage_wrapper header {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.homepage_wrapper header h2 {
  font-size: 2.5em;
  font-weight: 600;
}

.homepage_wrapper button.primary {
  background-color: #0086D8;
  color: #fff;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;

  height: fit-content;
  margin-left: auto;
}
